{% extends 'info/base.html' %}
    {% load static %}
    {% block content %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Fecha</label>
      <input type="date" class="form-control" id="" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Dificultades</label>
      <textarea class="form-control" id="" rows="3" placeholder="Escribe tus dificultades..."></textarea>
      
      <a class='mt-5 btn btn-primary' href="/info/teacher/ok/">Enviar</a>
    </div>
    {% endblock %}